<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
		                http://www.springframework.org/schema/context
		                http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <mvc:annotation-driven /> -->
	<bean id="messageTask" class="com.hd.daiban.schedule.MessageSendTask"></bean>

	<bean id="messageTaskJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<!--指定要定时执行的方法所在类，将定时任务定义成bean -->
			<ref bean="messageTask" />
		</property>
		<property name="targetMethod">
			<!--指定定时执行的方法 -->
			<value>execute</value>
		</property>
		<property name="concurrent">
			<!--指定目标封装为有状态的任务，有状态的任务不能并发执行，无状态的任务可并发执行 -->
			<value>false</value>
		</property>
	</bean>

	<bean id="messageTaskJobTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail">
			<ref bean="messageTaskJob" />
		</property>
		<!-- 延时启动时间，单位ms -->
		<property name="startDelay" value="60000"></property>
		<!-- 重复间隔时间，单位ms -->
		<property name="repeatInterval" value="60000">
		</property>
	</bean>

	<bean lazy-init="false"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 这里添加多个定时任务触发器，对应第2步的bean id -->
				<ref bean="messageTaskJobTrigger" />
			</list>
		</property>
	</bean>
</beans>
